.productItem {
    border: 1px solid rgba(255, 255, 255, 0);
    &:hover {
        border:  1px solid #e7eaed;
    }
}

.addPurchaseBtn {
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px 0;

    &:hover {
        background-color: #eabf00;
        cursor: pointer;
    }
}