// padding and margin
@small-container-padding: 0.2rem 0.25rem;

// color
@main-color: rgba(255, 255, 255, 0);
@secondary-border-color: #e7eaed;

@main-text-color: rgba(0, 0, 0, 0.5);
@main-text-color-light: rgba(255, 255, 255, 1);
@main-purchase-color: #5b5a5e;

// font
@sub-font-size: 0.9rem;
@mini-font-size: 0.4rem;